<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <center>
            <h1>Social Dive</h1>
            <p>Expanding the Comfort Zone</p>

            <a href="/about/" class="btn btn-default">Learn More About the Project</a> &nbsp; or &nbsp; 
            <a href="/join/" class="btn btn-default">Expand Your Own Comfort Zone!</a>

            </br>
            </br>

            <a href="/post_form/" class="btn btn-primary btn-lg">Post your social challenge!</a>
            </center>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>