extends layout

block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label First Name 
            input(type="text",placeholder="First Name", name="fname")
        div.input
            span.label Last Name 
            input(type="text",placeholder="Last Name", name="lname")
        div.input
            span.label Email Address 
            input(type="text",placeholder="Enter email", name="email")
        div.input
            span.label Reflection/Description 
            input(type="text",placeholder="Write your reflection here!", name="reflection")
        div.input
            span.label Photo Upload 
            input(type="file", name="photo")
        div.actions
            input(type="submit", value="Upload Challenge")
  
